@import 'fonts';
@import 'vars';
@import 'mixin';
@import 'reset';
@import 'libs';
@import 'global';

.header {
    &__top {
        background-color: $dark-800;
        text-transform: uppercase;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 14px 0;

    }

    &__contacts {
        display: flex;
    }

    &__contacts-list {
        &:not(:last-child) {
            margin-right: 48px;
        }
    }

    &__address,
    &__phone {
        display: flex;
        align-items: center;
        transition: opacity 0.5s;

        &:hover {
            opacity: 0.7;
        }
    }

    &__icon {
        margin-right: 12px;
    }

    &__info {
        display: flex;
        align-items: center;
    }

    &__info-list {
        transition: opacity 0.5s;

        &:hover {
            opacity: 0.5;
        }

        &:not(:last-child) {
            margin-right: 24px;
        }
    }

    &__bottom {
        background-color: $green-900;
        padding: 24px 0;
    }

    &__bottom-inner {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-right: 24px;
    }

    &__catalog {
        position: relative;

        &:hover {
            .header__catalog-menu {
                display: flex;
                justify-content: space-between;
                flex-direction: column;

            }
        }
    }

    &__catalog-menu {
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 240px;
        z-index: 2;
        transition: all 0.5s;
    }

    &__catalog-list {

        padding: 15px 0 15px 24px;
        color: #000;
        font-family: $lato;
        font-weight: 400;
        font-size: 16px;
        border: 1px solid rgba(193, 193, 193, 0.3);
        transition: all 0.5s;

        &:hover {
            border-left: 3px solid $green-900;
            color: $green-900;
        }
    }

    &__catalog-btn {
        height: 50px;
        padding: 15px 48px 15px 61px;
        background-color: $white;
        color: $green-900;
        border-radius: 6px;
        position: relative;
        font-family: $lato;
        font-weight: 600;
        transition: opacity 0.5s, border-radius 0.5s;
        margin-right: 30px;

        &:hover {
            opacity: 0.7;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

        }



        &:active {
            opacity: 0.7;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        &::before {
            content: '';
            position: absolute;
            background-image: url('../images/icons/catalog-burger.svg');
            background-repeat: no-repeat;
            width: 25px;
            height: 17px;
            left: 17px;
            top: 16px;
        }

        &::after {
            content: '';
            position: absolute;
            background-image: url('../images/icons/arrow-down.svg');
            background-repeat: no-repeat;
            width: 8px;
            height: 4px;
            right: 18px;
            top: 23px;
        }
    }



    &__form {
        margin-right: 32px;
        position: relative;
        max-width: 576px;
        height: 50px;

        &::before {
            content: '';
            position: absolute;
            background-image: url('../images/icons/search.svg');
            background-repeat: no-repeat;
            background-position: center;
            width: 44px;
            height: 44px;
            top: 4px;
            left: 0;
            border-radius: 3px;
            transition: background-color 0.5s;
        }


    }

    .form {
        &__input {
            text-indent: 51px;
        }
    }



    &__btn {
        padding: 15px 52px;
        background-color: $dark-800;

        &:focus {
            box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.5);
        }

        &:hover {
            background-color: rgba(49, 53, 43, 0.85);
        }

        &:active {
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
            color: rgba(255, 255, 255, 0.5);
            background-color: $dark-800;
        }
    }

    &__user {
        display: flex;
        align-items: center;

    }

    &__link {
        transition: background-color 0.5s;
        position: relative;

        &:not(:last-child) {
            margin-right: 12px;
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }

        &--user {
            padding: 9px 13px;
        }

        &--like {
            padding: 11px 9px;
        }
    }

    &__cart-btn {
        transition: background-color 0.5s;
        padding: 9px 8px 10px 10px;
        position: relative;

        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }

    }

    &__cart {
        position: relative;
        overflow: hidden;
    }



    &__num {
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: $white;
        bottom: 33px;
        right: 29px;
        font-size: 10px;
        color: $red-900;
        text-align: center;
        line-height: 18px;
        font-family: $lato;
        font-weight: 600;
    }

}



.top-slider {
    &__item {
        background-repeat: no-repeat;
        height: 600px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        height: 600px;
    }

    &__content-inner {
        margin-top: auto;
        margin-bottom: auto;
    }

    &__info {
        padding: 24px;
        background-color: rgba(255, 255, 255, 0.8);
        margin-bottom: 30px;
        max-width: 1200px;
        width: fit-content;
    }

    &__title {
        width: inherit;
        border-radius: 4px;
        font-family: $signika;
        font-weight: 700;
        font-size: 60px;
        line-height: 1.3;
        color: $dark-500;
        text-transform: uppercase;
        letter-spacing: normal;
        @include line-clamp(60, 1.3, 4);

        span {
            color: $red-900;
            line-height: 1.3;
        }
    }

    &__text {
        font-size: 16px;
        text-transform: none;
        font-family: $lato;
        font-weight: 400;
        line-height: 1.4;
        @include line-clamp(16, 1.4, 3);
    }

    &__link {
        display: inline-block;
        padding: 12px 24px;
        background-color: $green-900;
        border-radius: 6px;
        font-family: $lato;
        font-size: 18px;
        line-height: 1.3;
        font-weight: 400;
        transition: background-color 0.5s, box-shadow 0.5s, color 0.5s;

    }

    .slick-prev,
    .slick-next {
        width: 60px;
        height: 60px;
        position: absolute;
        top: 45%;

        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 5px;

        img {
            margin: 0 auto;
        }
    }

    .slick-prev {
        left: 52px;
        z-index: 1;
    }

    .slick-next {
        right: 51px;
    }

    .slick-prev:before,
    .slick-next:before {
        display: none;
    }
}

.services {
    padding: 48px 0 49px;
    background-color: $silver-100;
    display: flex;
    justify-content: center;

    &__items,
    &__item {
        display: flex;
    }

    &__item {
        max-width: 201px;
        position: relative;


        &:not(:last-child) {
            margin-right: 122px;
        }
    }

    &__icon {
        position: absolute;
        content: '';
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        left: -74px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    &__name {
        font-family: $lato;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.4;
        margin-bottom: 6px;

    }

    &__subtext {
        font-size: 14px;
        font-family: $lato;
        font-weight: 400;
        letter-spacing: normal;
        line-height: 1.4;
        @include line-clamp(14, 1.4, 1);
    }

}

.top-products {
    padding: 72px 0;
    text-align: center;

    &__content {
        display: flex;
        flex-wrap: wrap;
        margin-right: -30px;
        margin-bottom: 18px;

    }

    &__item {
        margin-right: 30px;
        margin-bottom: 30px;

    }

    &__load {
        padding: 12px 24px;
        color: $green-900;
        font-size: 18px;
        font-family: $lato;
        font-weight: 400;
        border: 1px solid #63A60E;
        border-radius: 6px;
        background-color: $white;
        margin-bottom: 72px;
        transition: background-color 0.5s, box-shadow 0.5s, color 0.5s;

        &:focus {
            box-shadow: 0px 0px 0px 4px rgba(99, 166, 14, 0.5);
        }

        &:hover {
            background-color: $green-100;
        }

        &:active {
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
            color: rgba(99, 166, 14, 0.5);
            background-color: $white;
        }

    }
}

.product-card {
    max-width: 300px;
    height: 409px;
    padding: 56px 18px 18px 18px;
    border: 1px solid rgba(17, 17, 17, 0.2);
    border-radius: 5px;
    position: relative;
    transition: transform 0.5s;

    &:hover {
        transform: scale(1.1);

    }

    &__link {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__badges {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        left: 12px;
        top: 12px;

    }

    &__badge {
        font-family: $lato;
        font-weight: 700;
        color: $white;
        border-radius: 6px;
        width: fit-content;
        font-size: 10px;
        line-height: 1;
        padding: 3px 6px;
        cursor: default;
        text-transform: uppercase;

        &:first-child {
            margin-bottom: 6px;
        }

        &--new {
            background-color: $green-900;
        }

        &--sale {
            background-color: $red-900;
        }

        &--hit {
            background-color: $orange-900;
        }
    }

    &__like {
        position: absolute;
        right: 11px;
        top: 15px;

        path {
            transition: fill 0.5s;
        }

        &:hover {
            path {
                fill: $yellow-900;
            }
        }
    }

    &__img {
        margin-bottom: 9px;
    }

    &__name {
        font-family: $lato;
        color: $dark-900;
        font-weight: 600;
        font-size: 14px;
        text-align: left;
        margin-bottom: auto;
        @include line-clamp(14, 1.4, 3);
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: 38px;
    }

    &__offers {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__price {
        position: relative;
        line-height: 1;
        font-family: $lato;
        font-weight: 400;

        &--old {
            color: $silver-600;
            position: relative;

            &:before {
                border-bottom: 1px solid $silver-600;
                position: absolute;
                content: "";
                width: 100%;
                height: 50%;
                transform: rotate(-8deg);
            }
        }

        &--new {
            color: $dark-900;
        }
    }

    &__cart {
        background-color: $green-900;
        border-radius: 3px;
        transition: background-color 0.5s, box-shadow 0.5s, color 0.5s;
        display: flex;
        padding: 8px;
        text-align: center;


        &:focus {
            box-shadow: 0px 0px 0px 4px #E0EDCF;
        }

        &:hover {
            background-color: $green-1200;
        }

        &:active {
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

            path {
                fill: rgba(255, 255, 255, 0.5);
            }

            background-color: $green-900;
        }
    }
}

.suggestions {
    &__items {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
        padding: 76px 0 76px 32px;
        background-repeat: no-repeat;
        text-transform: uppercase;
        color: $dark-500;
        transition: transform 0.5s;
        background-position-x: 60%;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__item--fruits {
        width: 630px;

        .suggestions__text {
            color: $white;
            text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
        }

        .suggestions__title {
            color: $white;
            text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
            max-width: 410px;
        }

        .suggestions__link {
            color: $white;
            text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
            border-bottom: 2px solid #fff;
        }
    }

    &__item--vegs {
        width: 300px;
        background-position-x: 60%;
    }

    &__item--bread {
        width: 300px;
        background-position-x: 60%;
    }

    &__text {
        font-family: $lato;
        font-weight: 700;
        font-size: 12px;
        line-height: 1;
        letter-spacing: 0.03em;
    }

    &__title {
        max-width: 190px;
        font-family: $signika;
        font-weight: 600;
        font-size: 30px;
        @include line-clamp(30, 1.4, 2);
    }

    &__link {
        padding-bottom: 6px;
        color: $dark-500;
        border-bottom: 2px solid #505050;
        font-family: $lato;
        font-weight: 700;
        width: fit-content;
    }

}


.sales {
    padding: 72px 0;
    text-align: center;
    background-color: $silver-100;

    &__content {
        display: flex;
        flex-wrap: wrap;
        margin-right: -30px;
        margin-bottom: 18px;

    }

    &__item {
        margin-right: 30px;
        margin-bottom: 30px;

    }

    &__load {
        display: inline-block;
        color: $white;
        padding: 12px 24px;
        background-color: $green-900;
        border-radius: 6px;
        font-family: $lato;
        font-size: 18px;
        line-height: 1.3;
        font-weight: 400;
        transition: background-color 0.5s, box-shadow 0.5s, color 0.5s;

    }
}

.sales-card {
    padding: 13px 12px 12px 12px;
    background-color: $white;
    border: 1px solid $silver-600;
    border-radius: 6px;
    width: 300px;
    height: 121px;
    position: relative;
    transition: transform 0.5s;

    &:hover {
        transform: scale(1.1);

    }

    &__link {
        display: flex;
    }

    &__badge {
        position: absolute;
        color: $white;
        padding: 3px 6px;
        font-size: 10px;
        line-height: 1;
        font-family: $lato;
        font-weight: 700;
        letter-spacing: 0.03em;
        top: 13;
        left: 12;
        border-radius: 6px;
        text-transform: uppercase;

        &--new {
            background-color: $green-900;
        }

        &--hit {
            background-color: $orange-900;
        }
    }

    &__img {
        margin-right: 12px;
    }

    &__block {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__name {
        font-family: $lato;
        color: $dark-900;
        font-weight: 600;
        font-size: 14px;
        text-align: left;
        margin-bottom: auto;
        @include line-clamp(14, 1.4, 3);
    }

    &__available {
        text-transform: uppercase;
        font-family: $lato;
        font-weight: 600;
        font-size: 10px;
        line-height: 1;
        margin-bottom: 5px;
        text-align: left;

        &--stock {
            color: #63A60E;
        }

        &--ends {
            color: $red-900;
        }

        &--not {
            color: $silver-600;
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__offer {
        display: flex;
        font-family: $lato;
        align-items: flex-end;

    }

    &__price {
        font-weight: 600;
        font-size: 20px;
        line-height: 1;
        letter-spacing: 0.03em;
        color: $dark-500;

        &:not(:last-child) {
            margin-right: 12px;
        }

        span {
            font-size: 14px;
        }

        &--old {
            color: $silver-600;
            font-size: 12px;
            line-height: 1;
            position: relative;

            &:before {
                border-bottom: 1px solid $silver-600;
                position: absolute;
                content: "";
                width: 100%;
                height: 50%;
                transform: rotate(-8deg);
            }
        }
    }

    &__rate {
        font-family: $lato;
        font-weight: 700;
        line-height: 1;
        letter-spacing: 0.03em;
        display: flex;
        align-items: flex-end;
    }
}

.brands-slider {
    padding-bottom: 72px;



    .slick-track {
        display: flex;
        align-items: center;
    }

    &__item {
        width: 100%;
        opacity: 0.5;
        transition: opacity 0.5s;

        &:hover {
            opacity: 1;
        }
    }
}

.news {
    padding: 78px 0 70px;

    &__title {
        margin-bottom: 0;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }

    &__link {
        color: $green-900;
        text-transform: uppercase;
        font-family: $lato;
        font-weight: 700;
        line-height: 1.4;
        border-bottom: 2px solid $green-900;
        transition: color 0.5s, border-color 0.5s, scale 0.5s;

        &:hover,
        &:active {
            color: $green-1200;
            border-color: $green-1200;

        }
    }

    &__item {
        transition: transform 0.5s;

        &:hover {
            transform: scale(1.1);

        }

    }

    &__items {
        display: flex;
        justify-content: space-between;
    }

    &__item-link {
        &:hover {
            .news__text {
                color: $green-900;

            }
        }
    }

    &__item {
        width: 410px;
        height: 351px;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
        border-radius: 6px;
        position: relative;

    }

    &__date {
        position: absolute;
        top: 0;
        left: 20px;
        min-width: 65px;
        height: 76px;
        border-radius: 0 0 4px 4px;
        background-color: $white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 18px 0 10px;
        text-align: center;
        text-transform: uppercase;
        font-family: $lato;
        font-weight: 700;
        font-size: 10px;
        line-height: 1.2;
        color: $dark-900;

    }

    &__day {
        font-family: $signika;
        font-weight: 600;
        font-size: 30px;
        line-height: 1;
    }

    &__text {
        padding: 18px 18px 18px 18px;
        font-family: $lato;
        font-weight: 600;
        font-size: 18px;
        line-height: 1.4;
        color: $dark-900;
        letter-spacing: normal;
        transition: color 0.5s;

        p {
            @include line-clamp(18, 1.4, 3);
        }


    }
}

.top {
    background-color: $silver-100;
}

.footer {
    background-color: $dark-800;

    &__top {
        padding: 30px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    &__logo {
        display: inline-block;
        margin-bottom: 26px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }


    &__form {
        display: flex;
        height: 72px;
        max-width: 300px;

    }

    &__label {
        color: $white;
        font-size: 14px;
        line-height: 1;
        font-family: $lato;
        font-weight: 400;
        letter-spacing: normal;
    }

    &__label-inner {
        margin-top: 18px;
        display: flex;
        align-items: flex-end;
    }

    .form {

        &__input {
            width: 182px;
            height: 40px;
            border-radius: 5px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border: 0;
            text-indent: 12px;
            font-family: $lato;
            font-weight: 400;
        }
    }

    &__btn {
        padding: 12px 10px 12px 14px;
        background-color: $green-900;
        height: 40px;
        color: $white;
        font-size: 12px;
        line-height: 1.2;
    }

    &__links {
        display: flex;
        justify-content: space-between;
    }

    &__list {
        &:not(:last-child) {
            margin-right: 84px;
        }
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 18px;
        }
    }

    &__link {
        max-width: 122px;
        letter-spacing: normal;
        font-family: $lato;
        font-weight: 400;
        line-height: 1.4;
        font-size: 14px;
        transition: opacity 0.5s;
        @include line-clamp(14, 1.4, 1);

        &:hover {
            opacity: 0.5;
        }
    }

    &__phone-text {
        margin-right: 12px;
    }

    &__phone {
        display: flex;
        align-items: center;
        margin-bottom: 18px;
        font-weight: 400;
        line-height: 1.4;
        font-family: $lato;
        font-size: 14px;
        letter-spacing: normal;
        transition: opacity 0.5s;

        &:hover {
            opacity: 0.5;
        }
    }

    &__address {
        color: $white;
        letter-spacing: normal;
        font-weight: 400;
        line-height: 1.4;
        font-family: $lato;
        font-size: 14px;
        margin-bottom: 18px;
        transition: opacity 0.5s;

        &:hover {
            opacity: 0.5;
        }
    }

    &__contacts {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    &__social {
        display: flex;
    }

    &__social-list {
        &:not(:last-child) {
            margin-right: 12px;
        }

    }

    &__social-list {
        transition: opacity 0.5s;

        &:hover {
            opacity: 0.7;
        }
    }

    &__bottom {
        padding: 25px 0;
        display: flex;
        justify-content: space-between;

    }

    &__copy {
        font-size: 14px;
        line-height: 1.4;
        font-family: $lato;
        font-weight: 400;
        color: $white;
        letter-spacing: normal;
        padding-left: 7px;
    }

    &__pay {
        display: flex;
    }

    &__pay-list {
        transition: opacity 0.5s;

        &:hover {
            opacity: 0.5;
        }

        &:not(:last-child) {
            margin-right: 24px;
        }

    }

}