@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header-top {
    background-color: $dark-800;
    text-transform: uppercase;

    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 14px 0;

    }

    &__contacts {
        display: flex;
    }

    a {
        display: flex;
        align-items: center;
        transition: opacity 0.5s;

        &:hover {
            opacity: 0.7;
        }
    }

    &__icon {
        margin-right: 12px;
    }

    a:not(:last-child) {
        margin-right: 48px;
    }

    &__menu {
        display: flex;
        align-items: center;
    }

    &__list:not(:last-child) {
        margin-right: 24px;
    }
}

.header-bottom {
    background-color: $green-900;
    padding: 24px 0;

    &__inner {
        display: flex;
        justify-content: space-between;

    }

    &__catalog-btn {
        height: 50px;
        width: 240px;
        background-color: $white;
        color: $green-900;
        border-radius: 5px;
        position: relative;
        @extend %lato-600;

        &::before {
            content: '';
            position: absolute;
            background-image: url('../images/icons/catalog-burger.svg');
            background-repeat: no-repeat;
            width: 25px;
            height: 17px;
            left: 10px;
            top: 16px;
        }

        &::after {
            content: '';
            position: absolute;
            background-image: url('../images/icons/arrow-down.svg');
            background-repeat: no-repeat;
            width: 8px;
            height: 4px;
            right: 10px;
            top: 25px;
        }
    }

    &__search {
        display: flex;
        height: 50px;
        position: relative;

        &:active {
            &:before {
                background-color: #000;
                ;
            }
        }

        &::before {
            content: '';
            position: absolute;
            background-image: url('../images/icons/search.svg');
            background-repeat: no-repeat;
            width: 44px;
            height: 44px;
            top: 15px;
            left: 10px;
        }

    }

    &__search-input {
        width: 413px;
        height: 50px;
        border-radius: 5px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border: 0;
        text-indent: 51px;
        @extend %lato-400;


    }

    &__search-btn {
        padding: 15px 52px;
        height: 50px;
        background-color: $dark-800;
        text-transform: uppercase;
        color: $white;
        letter-spacing: 0.4px;
        border-radius: 5px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

    }
}

.user-nav {
    display: flex;
    align-items: center;

    &__list {
        transition: background-color 0.5s;

        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }

    &__link {
        position: relative;
    }

    &__list--user {
        padding: 9px 13px;
    }

    &__list--like {
        padding: 11px 9px;
    }

    &__list--cart {
        padding: 9px 8px 10px 10px;
    }

    &__list:not(:last-child) {
        margin-right: 12px;
    }

    &__num {
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: $white;
        bottom: 20px;
        right: 20px;
        font-size: 10px;
        color: $red-900;
        text-align: center;
        line-height: 18px;
        @extend %lato-600;
    }
}

.footer {
    background-color: $dark-800;
}

.footer-top {
    padding: 30px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    &__logo {
        display: inline-block;
        margin-bottom: 30px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__text {
        @extend %lato-400;
        color: $white;
        margin-bottom: 18px;
    }

    &__form {
        display: flex;
        height: 40px;
    }

    &__email-input {
        width: 182px;
        height: 100%;
        border-radius: 5px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border: 0;
        text-indent: 12px;
        @extend %lato-400;
    }

    &__email-btn {
        padding: 12px 10px 12px 14px;
        height: 100%;
        background-color: $green-900;
        text-transform: uppercase;
        color: $white;
        letter-spacing: 0.4px;
        border-radius: 5px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        @extend %lato-700;
    }

    &__links {
        display: flex;
        justify-content: space-between;
    }

    &__list:not(:last-child) {
        margin-right: 84px;
    }

    &__list {
        .footer-top__list-item:not(:last-child) {
            margin-bottom: 18px;
        }
    }

    &__hot-line {
        display: flex;
        justify-content: space-between;
    }

    &__address {
        color: $white;
        margin-bottom: 18px;
    }

    &__social {
        display: flex;
    }

    &__social-list:not(:last-child) {
        margin-right: 12px;
    }
}

.footer-bottom {
    padding: 24px 0;
    display: flex;
    justify-content: space-between;

    &__copy {
        color: $white;
    }

    &__pay {
        display: flex;
    }

    &__pay-list:not(:last-child) {
        margin-right: 24px;
    }
}

.top-slider {
    max-height: 600px;

    &__item {
        padding: 143px 0;
        background-repeat: no-repeat;
        height: 600px;
    }

    &__title {
        padding: 24px;
        background-color: rgba(255, 255, 255, 0.8);
        max-width: 757px;
        margin-bottom: 30px;
    }

    &__title-text {
        @extend %signika-700;
        font-size: 60px;
        line-height: 1.3;
        color: $dark-500;
        text-transform: uppercase;

        span {
            color: $red-900;
        }
    }

    &__text {
        font-size: 16px;
        text-transform: none;
        @extend %lato-400;
    }

    &__link {
        padding: 12px 24px;
        background-color: $green-900;
        border-radius: 5px;
        @extend %lato-400;
    }

    &__item--1 {
        background-image: url(../images/slider/slider-bg-1.jpg);

    }

    &__item--2 {
        background-image: url(../images/slider/slider-bg-2.jpg);
        background-position-y: 72%;

        .top-slider__title {
            max-width: 824px;
        }
    }

    &__item--3 {
        background-image: url(../images/slider/slider-bg-3.jpg);

        .top-slider__title {
            max-width: 890px;
        }
    }

    .slick-prev,
    .slick-next {
        width: 60px;
        height: 60px;
        position: absolute;
        top: 50%;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 5px;

        img {

            margin: 0 auto;
        }
    }

    .slick-prev {
        left: 60px;
        z-index: 1;
    }

    .slick-next {
        right: 60px;
    }

    .slick-prev:before,
    .slick-next:before {
        display: none;
    }

}

.top-goods {
    .form {
        padding: 50px 0;
    }
}

.services {
    padding: 48px 0;
    background-color: $silver-100;

    &__container {
        padding: 0;
        max-width: 850px;
    }

    &__items {
        display: flex;
        justify-content: space-between;
    }

    &__list:not(:last-child) {
        margin-right: 48px;
    }

    &__item {
        display: flex;
    }

    &__icon {
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        margin-right: 24px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @extend %lato-700;
        font-size: 16px;

        span {
            font-size: 14px;
            @extend %lato-400;
        }
    }

}

.services__item--scooter {
    .services__icon {
        background-image: url('../images/icons/scooter.svg');
    }
}

.services__item--return {
    .services__icon {
        background-image: url('../images/icons/return.svg');
    }
}

.services__item--24hours {
    .services__icon {
        background-image: url('../images/icons/24-hours.svg');
    }

}

.top-goods {
    padding: 72px 0;
    text-align: center;

    &__filter-btn {
        display: flex;
        justify-content: center;
        margin-bottom: 51px;

        li:not(:last-child) {
            margin-right: 24px;
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        margin-right: -30px;
        margin-bottom: 48px;

        li {
            margin-right: 30px;
            margin-bottom: 30px;
            max-width: 300px;
            height: 409px;
            padding: 12px 18px 18px 18px;
            border: 1px solid rgba(17, 17, 17, 0.2);
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        }
    }

    &__item-top {
        display: flex;
        justify-content: flex-end;
    }

    &__text {
        @extend %lato-600;

    }

    &__item-bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__price {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__old-price {
        color: $silver-600;
        text-decoration: line-through;
    }

    &__cart {
        background-image: url('../images/goods/cart-btn.svg');
        background-color: $green-900;
        background-repeat: no-repeat;
        background-position: center;
        width: 32px;
        height: 32px;
        border-radius: 5px;
    }

    &__load {
        padding: 12px 24px;
        color: $green-900;
        font-size: 18px;
        @extend %lato-400;
        border: 1px solid #63A60E;
        border-radius: 5px;
        background-color: $white;
        margin-bottom: 72px;
    }
}

.suggestions {
    &__items {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
        padding: 76px 0 76px 32px;
        background-repeat: no-repeat;
        text-transform: uppercase;
        color: $dark-500;
    }

    &__item--fruits {
        width: 630px;
        background-image: url('../images/sales/sales-1.jpg');
        background-position-x: 60%;


        .suggestions__text {
            color: $white;
            text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
        }

        .suggestions__title {
            color: $white;
            text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
            max-width: 410px;
        }

        .suggestions__link {
            color: $white;
            text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
            border-bottom: 2px solid #fff;
        }
    }

    &__item--vegs {
        width: 300px;
        background-image: url('../images/sales/sales-2.jpg');
        background-position-x: 60%;
    }

    &__item--bread {
        width: 300px;
        background-image: url('../images/sales/sales-3.jpg');
        background-position-x: 60%;
    }

    &__text {
        @extend %lato-700;
        font-size: 12px;
        line-height: 1;
        letter-spacing: 1.2px;
    }

    &__title {
        max-width: 190px;
        @extend %signika-600;
        font-size: 30px;
    }

    &__link {
        padding-bottom: 6px;
        color: $dark-500;
        border-bottom: 2px solid #505050;
        @extend %lato-700;
        width: fit-content;
    }


}